.container-fluid {
  background: url(IMG/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bloqueform {
  padding: 30px;
}

.formulario {
  background-color: rgb(255, 239, 231);
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
  border-radius: 14px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.primera {
  background-color: #f9c18e;
  height: 10vh;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 14px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.imagenmaterial {
  background: url(IMG/quematerial.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
}

.materials {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-select {
  font-family: "Luckiest Guy";
  font-size: 0.7rem;
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  border-radius: 10px;
}

.cantidad {
  background-color: #f9c18e;
  height: 10vh;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 14px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.imagencantidad {
  background: url(IMG/quecantidad.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
}
.numeros {
  height: 5vh;
}

.form-control {
  text-align: center;
  font-size: 14px;
  height: 10vh;
}

.button-consulta {
  border-radius: 6px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: #dab8ad;
  height: 7vh;
  padding: 0px;
  text-align: center;
}

.button-consulta:hover {
  background-color: #d86d4a;
}

.imagen-agregar {
  background: url(IMG/agregaracotizacion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
}

.botonera {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.cuadrobotones {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5vh;
}

.botoncotizador {
  background-color: lightblue;
  font-family: "Luckiest Guy";
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 7px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  width: 30vw;
}

.botoncotizador:hover {
  background-color: rgb(188, 236, 252);
}

.imagenparaboton {
  background: url(IMG/cotizacionnegro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  width: 10vw;
  margin: 2px;
}

.parentesisboton {
  display: flex;
  font-size: 0.8rem;
  margin-top: 5px;
  color: black;
}

.botonvaciar {
  background-color: lightcoral;
  font-family: "Luckiest Guy";
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 7px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  width: 30vw;
}

.botonvaciar:hover {
  background-color: rgb(245, 158, 158);
}

.imagenvaciar {
  background: url(IMG/logoescoba.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  width: 10vw;
  margin: 4px;
}

.bloqueresultado {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.cuadromoneda {
  padding: 10px;
  width: 100%;
}

.titulos {
  font-family: "Luckiest Guy";
  font-size: 1rem;
}

.bajadas {
  font-size: 0.8rem;
}

#unitario {
  font-size: 1.4rem;
}
#valorPesos {
  font-size: 1.4rem;
}
#valorDolares {
  font-size: 1.4rem;
}
#valorEuros {
  font-size: 1.4rem;
}

.contenedorequivale {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedorpreciounitario {
  height: 5vh;
}

#demo {
  font-style: italic;
}

.contenedorequivalepeso {
  border: 1px solid lightgrey;
  border-radius: 14px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: lightcyan;
  height: 15vh;
}

.contenedorequivaledolar {
  border: 1px solid lightgrey;
  border-radius: 14px;
  margin-bottom: 10px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: rgb(181, 236, 181);
  height: 15vh;
}

.contenedorequivaleeuro {
  border: 1px solid lightgrey;
  border-radius: 14px;
  margin-bottom: 10px;
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: lightblue;
  height: 15vh;
}

.titulo-monedas {
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.monedashoy {
  background: url(IMG/lasmonedashoy.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 25px;
  margin: 10px;
}

.contenedor-monedas {
  background: url(IMG/fondomonedas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Luckiest Guy";
  font-size: 0.9rem;
  background-color: #dfd6cd;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.cotizacion-monedas {
  padding: 30px;
}

.cuadrodolar {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid rgb(181, 236, 181);
  border-left: 1px solid rgb(181, 236, 181);
  border-bottom: 4px solid rgb(181, 236, 181);
  border-right: 4px solid rgb(181, 236, 181);
  border-radius: 6px;
}


.titulo-cotizacion-moneda {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
}

.moneda {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.padre-compra-venta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cuadro-compra-venta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.topico {
  font-style: italic;
}

.mensajecotizacion {
  font-size: 0.6rem;
  font-style: italic;
}

.cuadroeuro {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid lightblue;
  border-left: 1px solid lightblue;
  border-bottom: 4px solid lightblue;
  border-right: 4px solid lightblue;
  border-radius: 6px;
}

.imagen-obreros {
  background: url(IMG/trabajadores.png);
  background-color: #dfd6cd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 25vh;
}

.barra {
  background: url(IMG/barraconstruccion.jpg);
  height: 1vh;
}

@media only screen and (min-width: 768px) {
  .formulario {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .materials {
    height: 30vh;
  }

  .primera {
    height: 15vh;
  }

  .cantidad {
    height: 10vh;
  }

  .form-select {
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  .logocentro {
    background: url(IMG/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
  }

  .bloqueform {
    padding: 100px;
    display: flex;
    flex-direction: column;
  }

  .bloqueresultado {
    padding: 40px 70px;
  }

  .resultados {
    margin: 40px;
  }

  .contenedor-monedas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cotizacion-monedas {
    width: 30vw;
  }

  .moneda {
    display: flex;
    flex-direction: column;
  }

  .imagenparaboton {
    width: 3vw;
  }

  .imagenparabotonchico {
    width: 3vw;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input {
		font-size: 16px;
	}
}