.header {
  background-color: #dab8ad;
  display: flex;
  height: 5.6vh;
}

.contenedorheader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ladrilloitem {
  display: flex;
  width: 50%;
  text-align: center;
  justify-content: center;
  font-family: "Luckiest Guy";
}

.ladrilloitem :hover {
  background-color: #d86d4a;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  border: 2.5px solid #c26243;
}

.nav-link {
  display: flex;
  color: whitesmoke;
  font-size: 0.7rem;
}

.bienvenida {
  background: url(IMG/portadamonedas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-bottom: 1px dotted grey;
  width: 100%;
}

.logocentro {
  background: url(IMG/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 110px;
}

@media only screen and (min-width: 768px) {
  .logocentro-modal {
    background: url(IMG/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    background-size: contain;
  }
}
