/* HEADER */




  

/* BODY */



































































.cuadro-valores-moneda{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}









.cuadrocotizaciones{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.columnas{
    display: flex;
    flex-direction: row;
}

.col-euro{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
    
}

.col-dolar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
    
}

.imgtrabajador{
    background: url(IMG/trabajadores.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* FOOTER */


                        @media only screen and (min-width: 768px) {

                            

                            

                        

                        

                        



                        

                        

                        

                        .cuadro-monedas{
                            display: flex;
                            flex-direction: row;
                        }

                        }



